<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akirayjin.recipediary"
    android:versionCode="7"
    android:versionName="0.4.3" >

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/recipe_diary_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.akirayjin.recipediary.RecipeMainList"
            android:configChanges="orientation|keyboard|screenLayout|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.akirayjin.recipediary.RecipeEditActivity"
            android:configChanges="orientation|keyboard|screenLayout|screenSize"
            android:label="@string/title_activity_recipe_edit" >
        </activity>
        <activity
            android:name="com.akirayjin.recipediary.RecipeViewActivity"
            android:configChanges="orientation|keyboard|screenLayout|screenSize"
            android:label="@string/title_activity_recipe_view" >
        </activity>
    </application>

</manifest>